<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<div class="container">
    <div class="row">
        <%- include("components/home/principalHome.ejs") %>
        <%- include("components/home/lateralHome.ejs") %>
    </div>
</div>

<%- include("partials/footer") %>