<div class="col col-12 col-md-10" style="box-shadow: rgba(0, 0, 0, 0.116) 1px 8px 24px;">

    <div class="conteudos">


        <% if((typeof explorar !== "undefined")){ %>
            <h4 class="mb-5">Explorar</h4>
        <% }else{ %>
            <div class="card mb-4" style="width: 700px;">
                <div class="card-header">
                    Me diga, o que você esta pensando?
                </div>
                <div class="card-body">
                    <form action="/c/create" method="post">
                        <textarea name="conteudo" id="conteudo" class="form-control"></textarea>
                        <button class="btn btn-outline-success form-control mt-1">Diga ao mundo</button>
                    </form>
                </div>
            </div>
        <% } %>

        <% conteudos.forEach(conteudo=>{ %>

            <% if(conteudo != null){ %>
                <div class="post card">
                    <div class="post-header">
                            <a class="link-info" href="/u/<%= conteudo.user.nick %>"><%= conteudo.user.nick %></a>
                    </div>
                    <div class="post-body">
                        <p><%= conteudo.body %></p>
                    </div>
                    <div class="post-footer">
                    <input id="conteudoId" type="hidden" value="<%= conteudo.id %>">
                    <input id="userId" type="hidden" value="<%= user.id %>">
                    <% if(conteudo.likes.length > 0){ %>
                        <button class="btn btn-sm btn-outline-danger" onclick="unLike(<%= conteudo.id %>, <%= user.id %>, this)">Deslike</button> 
                    <% }else{ %>
                        <button class="btn btn-sm btn-outline-danger" onclick="like(<%= conteudo.id %>, <%= user.id %>, this)">Like</button> 
                    <% } %>
                    <button class="btn btn-sm btn-outline-danger">Comentar</button> 
                    </div>
                </div>
            <% } %>

        <% }) %>

        
    </div>
    
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>


    function like(conteudoId, userId, btn){
        if (conteudoId != undefined || conteudoId != '') {
            axios.post('http://localhost:8080/c/like',{
            conteudoId,
            userId
        })
            .then((response)=>{
                btn.innerHTML = 'Deslike'
                btn.onclick = () => unLike(conteudoId,userId,btn)
                console.log(response.status);
                }).catch(err=>{
                    console.log(err);
                });

        }
    }

    function unLike(conteudoId, userId, btn){

        if (conteudoId != undefined || conteudoId != '') {
            console.log(conteudoId + " | " + userId);
            axios.delete(`http://localhost:8080/c/like/${userId}/${conteudoId}`,)
            .then((response)=>{
                btn.innerHTML = 'Like'
                btn.onclick = () => unLike(conteudoId,userId,btn)
                console.log(response.status);
            }).catch(err=>{
                console.log(err);
            });

        }
    }

    


</script>